body {
    font-family: sans-serif;
}

.datasetNavElement {
    border-style: dashed;
}

.defaultNavElement {
    border-style: solid;
}

.instanceView {
    background-color: white;
    display: inline-block;
    border: solid 4px black;
    border-radius: 15px;
}

.runnerNavElement {
    border-style: dotted;
}

.nav {
    display: table;
    margin: 30px;
}

.navElement {
    display: inline;
    border-color: black;
    border-radius: 12px;
    margin: 5px;
    padding: 10px;
}

.selElem {
    width: 100px;
    height: 40px;
    background: #5081C1;
}

.transparentLayer {
    width: 100vw;
    height: 100vh;
    background: rgba(128, 128, 128, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.unselElem {
    width: 100px;
    height: 40px;
    background: #fff;
}

#runsBar {
    display: table;
    border: solid grey;
}

/*  */

.node {
    cursor: pointer;
}
  
.node circle {
    fill: #fff;
    stroke: #ac4142;
    stroke-width: 3px;
}
  
.node rect {
    fill: #fff;
    stroke: #5081C1;
    stroke-width: 3px;
}
  
.node line {
    stroke: #5081C1;
    stroke-width: 3px;
}
  
.node text {
    font: 12px sans-serif;
}
  
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}