body {
    font-family: sans-serif;
}

.datasetNavElement {
}

.defaultNavElement {
}

.instanceView {
    background-color: white;
    display: inline-block;
    width: 50vw;
    height: 50vh;
}

.modelNavElement {
}

.nav {
    display: table;
    margin: 30px;
}

.navElement {
    display: inline;
    border: solid black;
    border-radius: 12px;
    margin: 5px;
    padding: 10px;
}

.transparentLayer {
    width: 100vw;
    height: 100vh;
    background: rgba(128, 128, 128, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}
