body {
    font-family: sans-serif;
}

.datasetNavElement {
    border-style: dashed;
}

.defaultNavElement {
    border-style: solid;
}

.instanceView {
    background-color: white;
    display: inline-block;
    border: solid 4px black;
    border-radius: 15px;
}

.runnerNavElement {
    border-style: dotted;
}

.nav {
    display: table;
    margin: 30px;
}

.navElement {
    display: inline;
    border-color: black;
    border-radius: 12px;
    margin: 5px;
    padding: 10px;
}

.transparentLayer {
    width: 100vw;
    height: 100vh;
    background: rgba(128, 128, 128, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

#runsBar {
    display: table;
    border: solid grey;
}