__pycache__/
./**/__pycache__/

*.pyc

backend/__pycache__/
feature_extractors/__pycache__/
model_wrappers/__pycache__/
preprocessing/__pycache__/

tensorflow-models
wrappers/
tests/data/output/

frontend/node_modules/
frontend/dist/

.vscode/

