absl-py==0.7.1
ansiconv==1.0.0
astor==0.8.0
atomicwrites==1.3.0
attrs==19.1.0
Click==7.0
fire
Flask==1.0.3
gast==0.2.2
grpcio==1.21.1
h5py==2.9.0
importlib-metadata==0.18
itsdangerous==1.1.0
Jinja2==2.10.1
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
more-itertools==7.1.0
numpy==1.14.5
packaging==19.0
Pillow==8.1.1
pluggy==0.12.0
protobuf==3.8.0
py==1.8.0
Pygments==2.4.2
pyparsing==2.4.0
pytest==5.0.1
PyYAML==5.1.1
rouge==0.3.2
sacrebleu==1.3.4
scipy==1.3.0
six==1.12.0
tensorboard==1.10.0
tensorflow==1.10.0
termcolor==1.1.0
torch
typeguard==2.3.1
typing==3.6.6
wcwidth==0.1.7
Werkzeug==0.15.4
zipp==0.5.1
